<form action="/item/new" method="post">
  <label>Name:
    <input type="text" name="name" id="">
  </label>
  <label>Description:
    <input type="text" name="description" id="">
  </label>
  <input type="submit" value="Submit">
</form>
<br> {{> footer}}